body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #001423;
}

.main-heading {
  color: #015798;
}

.sub-heading {
  color: #0391FC;
}